body {
    font-size: 14px;
    min-width: 400px;
    min-height: 400px;
}

div {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently  supported by Chrome, Opera and Firefox */
}

h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

hr, div, body {
    padding: 0;
    margin: 0;
}

.playerNumber {
    font-size: 50px;
}

/* ------------------LANDSCAPE ----------------------- */

@media (orientation: landscape) {
    #grid {
        left: -4.9vh;
        top: 4.9vh;
    }
    .hex {
        width: 9.8vh;
        height: 5.774vh;
        margin: 2.887vh 0;
        line-height: 6vh;
        font-size: 1vh;
    }
    .hex:before, .hex:after {
        width: 6.971vh;
        height: 6.971vh;
        left: 1.36447vh;
    }
    .hex:before {
        top: -3.5355vh;
    }
    .hex:after {
        bottom: -3.5355vh;
    }
    .cylinder {
        margin-top: 2.5vh;
        margin-left: 0.55vh;
        width: 9vh;
        height: 6.5vh;
        border-radius: 4.5vh/2.25vh;
    }
    .cylinder:before {
        top: calc(50% + .2vh);
        width: 9vh;
        height: 6.5vh;
        border-radius: 4.5vh/2.25vh;
    }
    .cylinder:after {
        bottom: calc(50% - .2vh);
        width: 9vh;
        height: 5vh;
        border-radius: 4.5vh/2.25vh;
    }
}

/* --------------------PORTRAIT-------------- */

@media (orientation: portrait) {
    #grid {
        left: -4.9vw;
        top: 4.9vw;
    }
    .hex {
        width: 9.8vw;
        height: 5.774vw;
        margin: 2.887vw 0;
        line-height: 6vw;
        font-size: 1vw;
    }
    .hex:before, .hex:after {
        width: 6.971vw;
        height: 6.971vw;
        left: 1.36447vw;
    }
    .hex:before {
        top: -3.5355vw;
    }
    .hex:after {
        bottom: -3.5355vw;
    }
    .cylinder {
        margin-top: 2.5vw;
        margin-left: 0.55vw;
        width: 9vw;
        height: 6.5vw;
        border-radius: 4.5vw/2.25vw;
    }
    .cylinder:before {
        top: calc(50% + .2vh);
        width: 9vw;
        height: 6.5vw;
        border-radius: 4.5vw/2.25vw;
    }
    .cylinder:after {
        bottom: calc(50% - .2vh);
        width: 9vw;
        height: 5vw;
        border-radius: 4.5vw/2.25vw;
    }
}

#grid {
    margin-top: 20px;
    position: relative;
}

.grid_bg {
    border-radius: 25%;
}

.hex {
    position: absolute;
    background-color: #ffffff;
    border-left: solid 2px #333333;
    border-right: solid 2px #333333;
    display: block;
    text-align: center;
}

.hex:before, .hex:after {
    content: "";
    position: absolute;
    z-index: 1;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
}

.hex:before {
    border-top: solid 2px #333333;
    border-right: solid 2px #333333;
}

.hex:after {
    border-bottom: solid 2px #333333;
    border-left: solid 2px #333333;
}

.hex:hover {
    background: #F58787;
    cursor: pointer;
}

.hex.allowMove {
    background: rgb(159, 135, 245);
    cursor: pointer;
}

.hex.allowMove:hover {
    background: rgb(203, 189, 255);
    cursor: pointer;
}

.ui-droppable-hover, hexHover {
    background: rgb(203, 189, 255) !important;
}

.cylinder {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
    -webkit-box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
    box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
}

.cylinder:before {
    position: absolute;
    left: 0;
    content: '';
}

.cylinder:after {
    position: absolute;
    left: 0;
    content: '';
}

.player1 {
    background-color: rgba(255, 0, 0, .5);
}

.player1:after, .playerOneTransp {
    background-color: rgba(255, 64, 64, .5);
}

.player2 {
    background-color: rgba(4, 0, 255, .5);
}

.player2:after, .playerTwoTransp {
    background-color: rgba(83, 80, 255, .5);
}

/* ---------------- Dialog styles  */

#rules-btn, #options-btn {
    position: relative;
    float: left;
    margin: 18px;
}

#options-btn {
    float: right;
}

.test {
    background-color: black;
}

@keyframes blink {
    50% {
        opacity: 0.75;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.75;
    }
}

.blink {
    animation: blink .5s step-start 0s infinite;
    -webkit-animation: blink .5s step-start 0s infinite;
}

.short_blink {
    animation: blink .5s step-start 0s 3;
    -webkit-animation: blink .5s step-start 0s 3;
}

.scale {
    transform: scale(1);
    transition: all 1s;
}

.scale.animate {
    transform: scale(0.5);
}