body {
     font-size: 1vw; 
}

div {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently  supported by Chrome, Opera and Firefox */
}

h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

hr, div, body {
    padding: 0;
    margin: 0;
}

.playerNumber {
    font-size: 50px;
}

/* ----------------------------------------- */

#grid {
    margin-top: 20px;
    position: relative;
   left: -4.9vw;
   top: 4.9vw;
    
}

.grid_bg {
   
    /* padding-top: 64px;
    padding-bottom: 40px;
    position: relative; */
    border-radius: 25%;
    
  
}
/*  */
/* TODO - fix size */
/*   */

.hex {
    position: absolute;
    width: 9.8vw;
    height: 5.774vw;
    background-color: #ffffff;
    margin: 2.887vw 0;
    border-left: solid 2px #333333;
    border-right: solid 2px #333333;
    display: block;
    text-align: center;
    line-height: 6vw;
}

.hex:before, .hex:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 6.971vw;
    height: 6.971vw;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 1.36447vw;
}

.hex:before {
    top: -3.5355vw;
    border-top: solid 2px #333333;
    border-right: solid 2px #333333;
}

.hex:after {
    bottom: -3.5355vw;
    border-bottom: solid 2px #333333;
    border-left: solid 2px #333333;
}

.hex:hover {
    background: #F58787;
    cursor: pointer;
}

.hex.allowMove {
    background: rgb(159, 135, 245);
    cursor: pointer;
}

.hex.allowMove:hover  {
    background: rgb(203, 189, 255) ;
    cursor: pointer;
}

.ui-droppable-hover, hexHover {
    background: rgb(203, 189, 255) !important;
}
.cylinder {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    margin-top: 2.5vw;
    margin-left: 0.6vw;
    width: 9vw;
    height: 6.5vw;
    border-radius: 4.5vw/2.25vw;
    /* background-color: rgba(160, 160, 160, 1); */
    z-index: 99;
    -webkit-box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
    box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
}

.cylinder:before {
    position: absolute;
    left: 0;
    top: calc(50% + .2vh);
    width: 9vw;
    height: 6.5vw;
    border-radius: 4.5vw/2.25vw;
    /* background-color: rgba(160, 160, 160, 1); */
    content: '';
}

.cylinder:after {
    position: absolute;
    left: 0;
    bottom: calc(50% - .2vh);
    width: 9vw;
    height: 5vw;
    border-radius: 4.5vw/2.25vw;
    background-color: rgba(160, 160, 160, 1);
    content: '';
}

.player1 {
    background-color: rgba(255, 0, 0, .5);
}
.player1:after, .playerOneTransp {
    background-color: rgba(255, 64, 64, .5);
}

.player2 {
    background-color: rgba(4, 0, 255, .5);
}

.player2:after, .playerTwoTransp {
    background-color: rgba(83, 80, 255, .5);
}

.test {
    background-color: black;
}
@keyframes blink {
    50% {
        opacity: 0.75;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.75;
    }
}



.blink {
    animation: blink .5s step-start 0s infinite;
    -webkit-animation: blink .5s step-start 0s infinite;
}

.short_blink {
    animation: blink .5s step-start 0s 3;
    -webkit-animation: blink .5s step-start 0s 3;
}


.scale {
    transform: scale(1);
    transition: all 1s;
  }
  
  .scale.animate {
    transform: scale(0.5);
  }

@keyframes drawArc {
    0% {
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    100% {
        transform: rotate(-180deg) translateX(150px) rotate(180deg);
    }
}

@-webkit-keyframes drawArc {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-180deg) translateX(150px) rotate(180deg);
    }
}

.animateArc {
    animation: drawArc 3s linear 1 forwards;
    ;
    -webkit-animation: drawArc 3s linear 1 forwards;
    ;
}
