body {
    /* font-size: 7em; */
}

div {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently  supported by Chrome, Opera and Firefox */
}

h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

hr, div, body {
    padding: 0;
    margin: 0;
}

.playerNumber {
    font-size: 50px;
}

/* ----------------------------------------- */

#grid {
    margin-top: 20px;
    position: relative;
   
    
}

.grid_bg {
   
    padding-top: 64px;
    padding-bottom: 40px;
    position: relative;
    border-radius: 25%;
    
  
}
ol:nth-child(odd) {
    position: relative;
    left: 50px;
}

ol:nth-child(even) {
    position: relative;
    margin-top: -50px;
    margin-bottom: -50px;
}

/*  */

/* TODO - fix size */

/*   */

.hex {
    position: absolute;
    width: 100px;
    height: 62.74px;
    background-color: #ffffff;
    margin: 28.87px 0;
    border-left: solid 2px #333333;
    border-right: solid 2px #333333;
    display: block;
    text-align: center;
    line-height: 60px;
}

.hex:before, .hex:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 69.71px;
    height: 69.71px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 13.6447px;
}

.hex:before {
    top: -35.3553px;
    border-top: solid 2.8284px #333333;
    border-right: solid 2.8284px #333333;
}

.hex:after {
    bottom: -35.3553px;
    border-bottom: solid 2.8284px #333333;
    border-left: solid 2.8284px #333333;
}

.hex:hover {
    background: #F58787;
    cursor: pointer;
}

.hex.allowMove {
    background: rgb(159, 135, 245);
    cursor: pointer;
}

.hex.allowMove:hover ui-droppable-hover {
    background: rgb(203, 189, 255) ;
    cursor: pointer;
}

.ui-droppable-hover, hexHover {
    background: rgb(203, 189, 255) !important;
}
.cylinder {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    /* margin: -69px auto 0 5px; */
    margin-top: 23px;
    margin-left: 6px;
    width: 90px;
    height: 75px;
    border-radius: 45px/25px;
    /* background-color: rgba(160, 160, 160, 1); */
    z-index: 99;
    -webkit-box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
    box-shadow: 18px -15px 12px -10px rgba(0, 0, 0, 1);
}

.cylinder:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 50px;
    border-radius: 45px/25px;
    /* background-color: rgb(196, 196, 196); */
    content: '';
    /* use this when green
    -webkit-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,1); */
}

.cylinder:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 50px;
    border-radius: 45px/25px;
    /* background-color: rgba(160, 160, 160, 1); */
    content: '';
}

.player1 {
    background-color: rgba(255, 0, 0, .5);
}
.player1:after, .playerOneTransp {
    background-color: rgba(255, 64, 64, .5);
}

.player2 {
    background-color: rgb(4, 0, 255);
}

.player2:after, .playerTwoTransp {
    background-color: rgb(83, 80, 255);
}

@keyframes blink {
    50% {
        opacity: 0.75;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.75;
    }
}



.blink {
    animation: blink .5s step-start 0s infinite;
    -webkit-animation: blink .5s step-start 0s infinite;
}

.short_blink {
    animation: blink .5s step-start 0s 3;
    -webkit-animation: blink .5s step-start 0s 3;
}

@keyframes drawArc {
    0% {
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    100% {
        transform: rotate(-180deg) translateX(150px) rotate(180deg);
    }
}

@-webkit-keyframes drawArc {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-180deg) translateX(150px) rotate(180deg);
    }
}

.animateArc {
    animation: drawArc 3s linear 1 forwards;
    ;
    -webkit-animation: drawArc 3s linear 1 forwards;
    ;
}